@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #111111;
    color: #b7b7b7;
    font-weight: 500;
}

p {
    font-size: 2rem;
    width: 500px;
    animation: fadeIn ease 2s;
    font-style: italic;
}

span {
    font-size: 1.5rem;
    text-align: right;
    width: 500px;
    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
      transform: translateX(-100px);
    }
    100% {
      opacity:1;
    }
  }